@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/pages/@(ViewData["page"]).css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>

    <script src="~/pages/@(ViewData["page"]).js"></script>
</body>
</html>